<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | Dead Reader | read scary books! {% else %}{{ site.title | escape }} | horror books{% endif %}</title>

  <meta name="description" content="{% if page.metadesc %}{{ page.metadesc | strip_html | strip_newlines | truncate: 240 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="https://pbs.twimg.com/profile_images/1532964550370369536/rkuM3TGW_400x400.jpg" />
<meta property="og:title" content="{% if page.title %}{{ page.title | escape }} | Dead Reader | read scary books! {% else %}{{ site.title | escape }} | horror books{% endif %}" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

<meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} | Dead Reader | read scary books! {% else %}{{ site.title | escape }} | horror books{% endif %}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{% if page.hp %} {{ page.hp }} {% else %} {{ site.description }} {% endif %}" />
<meta name="twitter:image" content ="https://deadreader.com/jar.png" />
<meta name="twitter:site" content="@readerofhorror" />
<meta name="google-site-verification" content="FFvPhaYYAo-GRG-llJvVsmAsPXs8F6412H52Kei4S8s" />
</head>
